In [162]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [163]:
# 유튜브 구독정보 난수생성기로 임의 생성

class RandomGenerator(object):
   
    
    def __init__(self, random_state=1):
        """
        -매개변수-
        random_state : 가중치 초기화를 위한 무작위 난수 생성기의 seed
        """
        self.random_state = random_state
        
    def GeneratingRandomData(self, range_min=1, range_max=100, sample_size=100, n_features=10):
        """
        난수생성기로 임의 데이터 생성
        """
        rgen = np.random.RandomState(self.random_state) 
        # 특정 seed를 가지는 np.random.RandomState() 객체를 만들고, 이 객체를 통해서 난수 생성
        self.data = rgen.randint(range_min, range_max, sample_size*n_features)
        
        return self.data.reshape(-1, n_features)
    
    def ArrayToDataframe(self, random_array, n_sample, feature_names):
        return pd.DataFrame(random_array, index=range(1, n_sample+1), columns=feature_names)

In [164]:
# 난수생성기 객체 생성

dataGenerator = RandomGenerator(156)

In [166]:
# 난수 데이터 생성 후 오름차순 정렬하여 반환

randomData = dataGenerator.GeneratingRandomData()
randomData

array([[45, 77, 35, 64, 44, 11, 82, 64,  3, 56],
       [70, 24, 59, 49, 87, 84, 50, 63, 63, 89],
       [78, 53, 37, 28, 44, 13, 49, 54, 90, 67],
       [18, 12, 50, 94, 65, 39, 92, 79, 65, 12],
       [26, 66, 55, 25, 82,  2, 47, 59, 38, 97],
       [21, 16, 93, 59, 84, 41, 25, 28, 59, 27],
       [46, 85, 87,  4, 64,  5, 15, 45, 62, 17],
       [76, 68, 49, 19, 38, 17, 35, 71,  3, 81],
       [37, 42, 81, 61,  2, 95, 88, 14, 73, 15],
       [24, 43, 21, 36, 75, 57, 98, 21, 61, 38],
       [41, 39, 63, 41, 72, 53, 48, 34, 28, 55],
       [84, 98, 41, 22, 66, 86, 21, 14, 39, 88],
       [15, 34, 80, 58, 96, 49, 41, 17,  7, 24],
       [95, 49, 82, 17, 96, 77, 80, 92, 34,  5],
       [77, 88, 99, 29, 26, 89, 23, 61, 17, 57],
       [33, 59, 45, 25, 13,  6,  5, 22, 68, 29],
       [46, 61,  9, 62, 62, 53, 57, 58, 93, 60],
       [57, 38, 21, 92, 71, 86, 28, 47, 15, 34],
       [75, 89, 24, 41, 26, 59, 38, 64, 13, 96],
       [21, 21, 72, 96, 15, 17, 24, 85, 76, 60],
       [72, 39, 48, 35, 17, 92, 55, 88, 36,  2],
       [ 9, 91, 86, 83, 60,  2, 19, 44, 61, 52],
       [89, 62, 41, 42, 76, 52, 85, 18, 48, 11],
       [55, 17,  8, 99, 84, 68, 75, 16, 79, 45],
       [17, 98, 32, 60, 42, 96, 41, 18, 26, 63],
       [66, 22, 20, 44,  4, 30, 45, 24, 39, 63],
       [16, 27, 12, 96, 57,  1, 88, 37, 40, 20],
       [35, 52,  1, 17, 38, 85,  6, 54, 68, 17],
       [ 1, 33, 63, 42, 33, 85, 23, 67, 42, 48],
       [48, 56, 87, 59, 19, 13, 34, 47, 31, 81],
       [57, 37, 21, 36, 65, 11, 58, 93, 78, 10],
       [86, 64, 37, 34, 56, 41, 30,  2, 59, 10],
       [95, 69, 43, 99,  7, 89, 41, 81,  6, 71],
       [ 5, 48, 17, 99, 30, 97,  6, 48, 28, 34],
       [16, 27, 89, 58, 75, 24, 47, 46,  6,  8],
       [43, 89, 95, 79, 73, 83,  3, 83, 97, 44],
       [20, 50, 99, 58, 38, 54, 15, 84, 30, 50],
       [98, 23,  2, 63,  6, 75, 84, 19, 11, 99],
       [95, 32, 12, 59, 60, 12, 10, 23, 70, 27],
       [ 8,  7, 58, 36, 75, 62, 69, 30, 92,  9],
       [44, 52, 49, 99, 50, 53, 47, 44, 64, 70],
       [57, 73, 12, 23, 58, 91,  5, 90, 82, 28],
       [83, 76,  4, 13, 52, 86, 61, 61, 79, 42],
       [26, 48, 50, 69, 72, 83,  3, 21, 96, 45],
       [65,  2, 44,  2, 82, 10,  9, 79, 41, 60],
       [62, 77, 60, 97, 72,  4, 43, 66, 28, 33],
       [10, 56, 85, 92, 92, 29, 57, 66, 26, 85],
       [86, 52, 26,  7, 41, 96, 52,  3, 37, 60],
       [90, 20, 29, 60, 70, 40,  3, 87, 42, 15],
       [98, 40, 54, 14, 85, 75, 50, 52, 69, 50],
       [53, 62, 23, 73, 70, 41, 97, 75, 19, 43],
       [ 2, 46,  3, 32, 83, 78, 32, 10, 86, 75],
       [33, 81, 24, 88, 86, 77, 77, 97, 88, 32],
       [57,  4, 90, 66, 18, 20, 32, 41, 81, 47],
       [87, 31, 75, 99, 90, 18,  6, 85, 57, 60],
       [38, 20, 15, 54, 66, 55, 34, 23, 33, 82],
       [35,  6, 90, 48,  6, 21, 35, 49, 42,  4],
       [65,  7, 57, 33, 86, 23, 98, 32, 56, 64],
       [57, 18, 19,  2, 22, 67, 89, 55,  5, 49],
       [58, 67, 73, 66, 94, 25, 10, 22, 78, 21],
       [16, 48, 37, 43, 77, 58, 62, 95, 25, 18],
       [36, 14, 28, 32, 45, 22, 14, 90, 30, 36],
       [17, 77, 93, 12,  2, 37, 50, 56, 51, 71],
       [ 3, 59, 12, 28, 59, 39, 94, 63, 82, 77],
       [73, 29, 42,  3, 35, 53, 41, 43, 62, 65],
       [92, 71,  1,  7, 62, 74, 15, 30, 11, 12],
       [50, 75, 47, 69, 83, 97, 83, 76, 16, 53],
       [81, 47, 19, 45, 46, 13, 93, 18, 66, 38],
       [ 9, 33, 55, 17, 80,  1, 14, 28, 10,  7],
       [93,  2, 28, 43, 70,  5, 28, 89, 91, 90],
       [72, 75, 95, 79, 30, 72, 36,  1, 93, 37],
       [11, 60, 52, 82,  1, 32, 84, 62,  8, 92],
       [43, 87, 24,  2, 29, 48,  4, 47, 89, 95],
       [85, 42, 76, 68,  2, 54, 15, 23, 99,  6],
       [23,  8, 67, 11, 71, 15, 30, 91, 88, 72],
       [67, 15, 52, 76, 45, 74, 51, 55, 76, 48],
       [ 3, 96, 37, 46, 96, 97, 37, 75,  3, 24],
       [62, 13, 76, 62, 30, 46, 61, 60, 42, 77],
       [93, 26, 49, 85, 92, 84, 60, 76, 75, 71],
       [59, 36,  9, 61, 10, 55, 37, 87, 19,  3],
       [52, 89, 55, 92, 45, 49, 19, 48, 50, 26],
       [70, 29,  7, 74, 56, 79, 48,  6, 98, 92],
       [45, 58, 86, 92, 47, 51, 81, 81, 15, 82],
       [26, 34, 29,  3, 61, 77, 20, 38, 98, 13],
       [40, 52, 56, 34, 34, 24, 82, 37, 83, 18],
       [21, 65, 49, 30, 74, 20, 55, 66, 40, 65],
       [92, 74,  2, 26, 84, 24,  9, 91, 25, 20],
       [83, 60, 42, 75, 54, 21, 90, 80, 22,  8],
       [ 9, 41, 96, 46, 17, 59, 38, 92, 12, 97],
       [95, 28, 87, 96, 74, 15,  5, 31, 11, 55],
       [12,  5, 78, 22, 92, 87, 78, 27, 96, 25],
       [51, 45,  7, 76, 19, 16, 71, 46, 47, 85],
       [91, 95, 23, 87, 17, 93, 73,  4, 15, 23],
       [30, 64,  8, 30, 31, 19,  1, 62, 78, 42],
       [62, 85, 82, 28, 83, 88, 81, 33, 89, 51],
       [43, 94, 13, 52, 50, 85, 53,  1, 76, 12],
       [ 4, 20, 59, 11, 77, 75, 55, 49, 40, 98],
       [92, 64, 64, 17, 93, 55, 29, 96, 83, 68],
       [90,  1, 42, 14, 47, 16, 21, 75, 23, 37],
       [22, 79, 44, 56, 69, 27, 52, 52, 70, 72]])

In [167]:
# feature 이름 리스트 구성

feature_names = ['Game', 'Cook', "Travel", "Money", "Academy", "Learning", "Sing", "Sports", "Machine", "Mistery"]

In [168]:
dfRandomData = dataGenerator.ArrayToDataframe(randomData, 100, feature_names)
dfRandomData

,Game,Cook,Travel,Money,Academy,Learning,Sing,Sports,Machine,Mistery
1,45,77,35,64,44,11,82,64,3,56
2,70,24,59,49,87,84,50,63,63,89
3,78,53,37,28,44,13,49,54,90,67
4,18,12,50,94,65,39,92,79,65,12
5,26,66,55,25,82,2,47,59,38,97
...,...,...,...,...,...,...,...,...,...,...
96,43,94,13,52,50,85,53,1,76,12
97,4,20,59,11,77,75,55,49,40,98
98,92,64,64,17,93,55,29,96,83,68
99,90,1,42,14,47,16,21,75,23,37
100,22,79,44,56,69,27,52,52,70,72

In [257]:
dfRandomData[1, :]

,Game,Cook,Travel,Money,Academy,Learning,Sing,Sports,Machine,Mistery
1,45,77,35,64,44,11,82,64,3,56
2,70,24,59,49,87,84,50,63,63,89
3,78,53,37,28,44,13,49,54,90,67
4,18,12,50,94,65,39,92,79,65,12
5,26,66,55,25,82,2,47,59,38,97
...,...,...,...,...,...,...,...,...,...,...
96,43,94,13,52,50,85,53,1,76,12
97,4,20,59,11,77,75,55,49,40,98
98,92,64,64,17,93,55,29,96,83,68
99,90,1,42,14,47,16,21,75,23,37
100,22,79,44,56,69,27,52,52,70,72

In [256]:
for i in range(1, 101):
    print({i: dfRandomData.sort_values(by=[i], axis=1).iloc[i, -2:].index})

{1: Index(['Cook', 'Sing'], dtype='object')}
{2: Index(['Academy', 'Mistery'], dtype='object')}
{3: Index(['Game', 'Machine'], dtype='object')}
{4: Index(['Sing', 'Money'], dtype='object')}
{5: Index(['Academy', 'Mistery'], dtype='object')}
{6: Index(['Academy', 'Travel'], dtype='object')}
{7: Index(['Cook', 'Travel'], dtype='object')}
{8: Index(['Game', 'Mistery'], dtype='object')}
{9: Index(['Sing', 'Learning'], dtype='object')}
{10: Index(['Academy', 'Sing'], dtype='object')}
{11: Index(['Travel', 'Academy'], dtype='object')}
{12: Index(['Mistery', 'Cook'], dtype='object')}
{13: Index(['Travel', 'Academy'], dtype='object')}
{14: Index(['Game', 'Academy'], dtype='object')}
{15: Index(['Learning', 'Travel'], dtype='object')}
{16: Index(['Cook', 'Machine'], dtype='object')}
{17: Index(['Academy', 'Machine'], dtype='object')}
{18: Index(['Learning', 'Money'], dtype='object')}
{19: Index(['Cook', 'Mistery'], dtype='object')}
{20: Index(['Sports', 'Money'], dtype='object')}
{21: Index(['Sports', 'Learning'], dtype='object')}
{22: Index(['Travel', 'Cook'], dtype='object')}
{23: Index(['Sing', 'Game'], dtype='object')}
{24: Index(['Academy', 'Money'], dtype='object')}
{25: Index(['Learning', 'Cook'], dtype='object')}
{26: Index(['Mistery', 'Game'], dtype='object')}
{27: Index(['Sing', 'Money'], dtype='object')}
{28: Index(['Machine', 'Learning'], dtype='object')}
{29: Index(['Sports', 'Learning'], dtype='object')}
{30: Index(['Mistery', 'Travel'], dtype='object')}
{31: Index(['Machine', 'Sports'], dtype='object')}
{32: Index(['Cook', 'Game'], dtype='object')}
{33: Index(['Game', 'Money'], dtype='object')}
{34: Index(['Learning', 'Money'], dtype='object')}
{35: Index(['Academy', 'Travel'], dtype='object')}
{36: Index(['Travel', 'Machine'], dtype='object')}
{37: Index(['Sports', 'Travel'], dtype='object')}
{38: Index(['Game', 'Mistery'], dtype='object')}
{39: Index(['Machine', 'Game'], dtype='object')}
{40: Index(['Academy', 'Machine'], dtype='object')}
{41: Index(['Mistery', 'Money'], dtype='object')}
{42: Index(['Sports', 'Learning'], dtype='object')}
{43: Index(['Game', 'Learning'], dtype='object')}
{44: Index(['Learning', 'Machine'], dtype='object')}
{45: Index(['Sports', 'Academy'], dtype='object')}
{46: Index(['Cook', 'Money'], dtype='object')}
{47: Index(['Money', 'Academy'], dtype='object')}
{48: Index(['Game', 'Learning'], dtype='object')}
{49: Index(['Sports', 'Game'], dtype='object')}
{50: Index(['Academy', 'Game'], dtype='object')}
{51: Index(['Sports', 'Sing'], dtype='object')}
{52: Index(['Academy', 'Machine'], dtype='object')}
{53: Index(['Machine', 'Sports'], dtype='object')}
{54: Index(['Machine', 'Travel'], dtype='object')}
{55: Index(['Academy', 'Money'], dtype='object')}
{56: Index(['Academy', 'Mistery'], dtype='object')}
{57: Index(['Sports', 'Travel'], dtype='object')}
{58: Index(['Academy', 'Sing'], dtype='object')}
{59: Index(['Learning', 'Sing'], dtype='object')}
{60: Index(['Machine', 'Academy'], dtype='object')}
{61: Index(['Academy', 'Sports'], dtype='object')}
{62: Index(['Academy', 'Sports'], dtype='object')}
{63: Index(['Cook', 'Travel'], dtype='object')}
{64: Index(['Machine', 'Sing'], dtype='object')}
{65: Index(['Mistery', 'Game'], dtype='object')}
{66: Index(['Learning', 'Game'], dtype='object')}
{67: Index(['Sing', 'Learning'], dtype='object')}
{68: Index(['Game', 'Sing'], dtype='object')}
{69: Index(['Travel', 'Academy'], dtype='object')}
{70: Index(['Machine', 'Game'], dtype='object')}
{71: Index(['Machine', 'Travel'], dtype='object')}
{72: Index(['Sing', 'Mistery'], dtype='object')}
{73: Index(['Machine', 'Mistery'], dtype='object')}
{74: Index(['Game', 'Machine'], dtype='object')}
{75: Index(['Machine', 'Sports'], dtype='object')}
{76: Index(['Money', 'Machine'], dtype='object')}
{77: Index(['Academy', 'Learning'], dtype='object')}
{78: Index(['Travel', 'Mistery'], dtype='object')}
{79: Index(['Academy', 'Game'], dtype='object')}
{80: Index(['Money', 'Sports'], dtype='object')}
{81: Index(['Cook', 'Money'], dtype='object')}
{82: Index(['Mistery', 'Machine'], dtype='object')}
{83: Index(['Travel', 'Money'], dtype='object')}
{84: Index(['Learning', 'Machine'], dtype='object')}
{85: Index(['Sing', 'Machine'], dtype='object')}
{86: Index(['Sports', 'Academy'], dtype='object')}
{87: Index(['Sports', 'Game'], dtype='object')}
{88: Index(['Game', 'Sing'], dtype='object')}
{89: Index(['Travel', 'Mistery'], dtype='object')}
{90: Index(['Game', 'Money'], dtype='object')}
{91: Index(['Academy', 'Machine'], dtype='object')}
{92: Index(['Money', 'Mistery'], dtype='object')}
{93: Index(['Learning', 'Cook'], dtype='object')}
{94: Index(['Cook', 'Machine'], dtype='object')}
{95: Index(['Learning', 'Machine'], dtype='object')}
{96: Index(['Learning', 'Cook'], dtype='object')}
{97: Index(['Academy', 'Mistery'], dtype='object')}
{98: Index(['Academy', 'Sports'], dtype='object')}
{99: Index(['Sports', 'Game'], dtype='object')}

IndexError: single positional indexer is out-of-bounds

In [244]:
dfRandomData.max(axis=1).index

RangeIndex(start=1, stop=101, step=1)

In [181]:
class Classification(object):
    
    def __init__(self, df_data):
        self.df = df_data
        
    def Sort(self):
        ls = []
        for i in self.df.index:
            ls.append(self.df.sort_values(by=[i], axis=1).iloc[i, -2:].index)